@{
    Layout = null;
}

<div id="userModal" tabindex="-1" role="dialog" aria-labelledby="userModalTitle" class="modal fade bd-example-modal-lg" aria-modal="true">
    <div role="document" class="modal-dialog modal-lg">
        <form id="form-submit" action="#">
            <div class="modal-content">
                <div class="modal-header bg-primary">
                    <h5 id="titleModal" class="modal-title white">Thêm mới yêu cầu sửa chữa</h5>
                    <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group has-icon-left">
                                <label for="first-name-icon"> Tên sinh viên </label>
                                <div class="position-relative">
                                    <select id="UserId" name="UserId" class="form-select  form-control"></select>
                                </div>
                                <!---->
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group has-icon-left">
                                <label for="first-name-icon"> Mã Phòng </label>
                                <div class="position-relative">
                                    <select id="MaPhong" name="MaPhong" class="form-select  form-control"></select>
                                </div>
                                <!---->
                            </div>
                        </div>                        
                        
                        <div class="col-6">
                            <div class="form-group has-icon-left">
                                <label for="mobile-id-icon">Trạng thái </label>
                                <div class="position-relative">
                                    <select id="Status" name="Status" class="form-select  form-control">
                                        <option value="">Chọn trạng thái</option>
                                        <option value="1">Chưa sửa</option>
                                        <option value="2">Đang sửa</option>
                                        <option value="3">Đã sửa</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group has-icon-left">
                                <label for="password-id-icon">Ghi chú</label>
                                <div class="position-relative">
                                    <input type="text" placeholder="" id="Comment" name="Comment" class="form-control custom-format">
                                </div>
                                <!---->
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer"><button type="submit" class="btn btn-primary me-1 mb-1 btn-submit-format">Thêm mới</button></div>
                </div>
            </div>
        </form>
    </div>
</div>